
body{
  background: #fff59d;
  padding: 2rem;
}

.task {
  display: flex;
  align-items: center;
  padding-bottom: .5rem;
}
.task-input {
  margin-right: 1rem;
}
.task-label {
  margin-right: 1rem;
}
.task-button {
  margin-right: 1rem;
}
